@font-face {
    font-family: "Monocraft";
    src: url("Monocraft.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    overscroll-behavior: none;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 30px;
    font-family: monospace;

    /* background: linear-gradient(30deg, rgb(6, 224, 6), rgb(182, 229, 88)); */
    background: black;

    color: white;

    text-align: center;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

::-webkit-scrollbar {
    display: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url("img/testmode-background-compressed.png");
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    filter: blur(2px);
    transform: scale(1.2);

    background-blend-mode: overlay;
}

h1 {
    font-family: "Monocraft";
    word-spacing: -5px;
    font-weight: 1000;

    font-size: 30px;

    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black,
        3px 3px 0px black;
}

h2 {
    font-family: monospace;
    font-size: 20px;
    font-weight: 900;

    margin-top: 30px;
    margin-bottom: -5px;
}

.section-cont {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    top: 10px;
    flex: 1;
}

.section {
    display: block;
    margin-top: 10px;

    width: 95vw;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.section h1 {
    margin-top: -10px;
}

.section p:not(.buttonRow) {
    margin-bottom: 0px;
}

.buttonRow {
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.socialButton {
    display: inline-block;
    width: fit-content;

    background-color: rgb(54, 57, 60);

    border: 1px solid rgb(95, 93, 93);
    border-radius: 3px;

    color: var(--color);
    --color: white;

    cursor: pointer;
    font-weight: 700;

    transition-duration: 0.2s;
}

.socialButton:hover {
    transform: translateY(-2px);
    background-color: rgb(43, 46, 48);

    box-shadow: 0px 2px 5px var(--shadow-color);
    --shadow-color: rgb(95, 93, 93);
}

.socialButton:active {
    transform: translateY(-0.5px);

    box-shadow: 0px 1px 5px var(--shadow-color);
}

.socialButton.reddit {
    --color: rgb(248, 169, 22);
}

.socialButton.reddit:hover {
    --shadow-color: rgb(248, 169, 22);
}

.socialButton.youtube {
    --color: rgb(255, 57, 57);
}

.socialButton.youtube:hover {
    --shadow-color: rgb(255, 57, 57);
}

.socialButton.github {
    --color: rgb(175, 177, 190);
}

.socialButton.github:hover {
    --shadow-color: rgb(175, 177, 190);
}

.socialButton.bloxd {
    --color: rgb(145, 143, 207);
}

.socialButton.bloxd:hover {
    --shadow-color: rgb(145, 143, 207);
}

.socialButton.bloxdhub {
    --color: rgb(182, 122, 44);
}

.socialButton.bloxdhub:hover {
    --shadow-color: rgb(182, 122, 44);
}

.socialButton.discord {
    --color: rgb(21, 164, 230);
}

.socialButton.discord:hover {
    --shadow-color: rgb(21, 164, 230);
}

.socialButton.code {
    --color: rgb(239, 194, 118);
}

.socialButton.code:hover {
    --shadow-color: rgb(239, 194, 118);
}

.socialButton img {
    height: 10px;
}

ul li {
    margin-left: -20px;
}

.faq {
    display: inline-block;
    width: fit-content;
}

.faq-header {
    font-weight: 700;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.faq-content {
    font-weight: 500;
    display: none;
}

.faq-header .faq-arrow {
    height: 14px;
    display: inline-block;

    user-select: none;
    -moz-user-select: none;

    transition-duration: 0.1s;
}

.faq-header.previewShow .faq-arrow {
    rotate: 90deg;
}

.faq-header.selected.previewHide .faq-arrow {
    rotate: 0deg;
}

.faq-header.selected .faq-arrow {
    rotate: 90deg;
    height: 14px;
    display: inline-block;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    color: rgb(206, 206, 206);

    transition-duration: 0.3s;
}

a:hover {
    color: rgb(175, 175, 175);
}

.footer {
    position: static;

    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: 0.5;
    padding-right: 10px;
}

.footer-container {
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

#codesSearchInput {
    flex: 1;
    background-color: rgb(54, 57, 60);
    border: 1px solid rgb(95, 93, 93);
    border-radius: 3px;
    padding: 3px;

    color: white;

    font-family: monospace;

    width: fit-content;

    outline: none !important;
}

#codesSearchInput::placeholder {
    color: lightgray;
}

.submitBtn {
    display: inline-block;
    flex-shrink: 0;

    background-color: rgb(54, 57, 60);

    border: 1px solid rgb(95, 93, 93);
    border-radius: 3px;

    color: var(--color);
    --color: white;

    cursor: pointer;
    font-weight: 700;

    transition-duration: 0.2s;
}

.submitBtn:hover {
    transform: translateY(-2px);
    background-color: rgb(43, 46, 48);

    box-shadow: 0px 2px 5px rgb(95, 93, 93);
}

.submitBtn:active {
    transform: translateY(-0.5px);

    box-shadow: 0px 1px 5px rgb(95, 93, 93);
}

.submitBtn.disabled {
    display: inline-block;
    cursor: not-allowed;
    flex-shrink: 0;

    background-color: rgb(70, 71, 71);

    border: 1px solid rgb(95, 93, 93);
    border-radius: 3px;

    color: var(--color);
    --color: white;

    font-weight: 700;

    transition-duration: 0.2s;
}

.submitBtn.disabled:hover {
    transform: translateY(-1px);
    background-color: rgb(49, 51, 52);

    box-shadow: 0px 1px 5px rgb(95, 93, 93);
}

.submitBtn.disabled:active {
    transform: translateY(-0.5px);

    box-shadow: 0px 1px 5px rgb(95, 93, 93);
}

#submitCode {
    display: none;
}

.searchInput-container {
    display: flex;
    gap: 3px;
    align-items: stretch;
}